---
import Facebook from '@assets/svg/Facebook.svg';
import Linkedin from '@assets/svg/Linkedin.svg';
import X from '@assets/svg/X.svg';
import Logo from '@assets/svg/logo.svg';
---

<footer class="bg-gray-50 py-10 text-gray-600">
  <div class="container mx-auto px-4 lg:px-0">
    <div class="flex flex-col flex-wrap items-start justify-between gap-10 md:flex-row md:gap-4">
      <!-- Columna 1: Logo o Identidad -->
      <div class="flex flex-1 flex-col">
        <figure class="mb-4">
          <a href="/">
            <Logo aria-hidden="true" />
          </a>
        </figure>
      </div>

      <div class="grid w-full grid-cols-1 place-content-center gap-10 md:grid-cols-3 lg:w-auto lg:grid-cols-3">
        <!-- Columna 2: "Solutions" -->
        <div>
          <h2 class="mb-4 font-semibold text-gray-800">Solutions</h2>
          <ul class="space-y-2">
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Small Businesses</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Freelancers</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Customers</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Taxes</a>
            </li>
          </ul>
        </div>

        <!-- Columna 3: "Company" -->
        <div>
          <h2 class="mb-4 font-semibold text-gray-800">Company</h2>
          <ul class="space-y-2">
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">About Us</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Career</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Columna 4: "Learn" + Redes Sociales -->
        <div>
          <h2 class="mb-4 font-semibold text-gray-800">Learn</h2>
          <ul class="space-y-2">
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Blog</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Ebooks</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Guides</a>
            </li>
            <li>
              <a href="#" class="transition-colors hover:text-gray-900">Templates</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Columna 5: Redes Sociales -->
      <div class="flex flex-1 flex-col items-end">
        <!-- Redes Sociales -->
        <h3 class="font-semibold text-gray-800">Follow us on</h3>
        <ul class="mt-4 flex items-center justify-center space-x-3">
          <li>
            <a href="#" class="text-gray-600 transition-colors hover:text-gray-800" aria-label="Twitter">
              <X class="fill-esmeralda" />
            </a>
          </li>
          <li>
            <a href="#" class="text-gray-600 transition-colors hover:text-gray-800" aria-label="LinkedIn">
              <Linkedin class="fill-esmeralda" />
            </a>
          </li>
          <li>
            <a href="#" class="text-gray-600 transition-colors hover:text-gray-800" aria-label="Facebook"> <Facebook class="fill-esmeralda" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Divider horizontal -->
  <div class="mt-8 border-t border-gray-200 pt-6 text-center text-sm">
    <small class="block text-pretty"> &copy; 2025 SimplexPay. All Rights Reserved. | Hecho por Kevin Rivera </small>
  </div>
</footer>
