---
import Footer from '@components/common/Footer.astro';
import Header from '@components/common/Header.astro';
import BannerTryItNow from '@components/presentational/BannerTryItNow.astro';
---

<Header />
<main>
    <!--- HERO -->
    <!--- EXPERIENCE -->
    <!--- WHY US -->
    <!--- BANNER BENEFICES -->
    <!--- OUR MISSION -->
    <!--- CHOOSE PLAN -->
    <!--- BANNER TRY IT NOW -->
    <BannerTryItNow />
</main>
<Footer />