---
import Footer from '@components/common/Footer.astro';
import Header from '@components/common/Header.astro';
import BannerTryItNow from '@components/presentational/BannerTryItNow.astro';
import BenefitsBanner from '@components/presentational/BenefitsBanner.astro';
import OurMission from '@components/presentational/OurMission.astro';
import PlansTable from '@components/presentational/PlansTable.astro';
import WhyUs from '@components/presentational/WhyUs.astro';
---

<Header />
<main>
    <!--- HERO -->
    <!--- EXPERIENCE -->
    <!--- WHY US -->
    <WhyUs />
    <!--- BANNER BENEFITS -->
    <BenefitsBanner />
    <!--- OUR MISSION -->
    <OurMission />
    <!--- CHOOSE PLAN -->
    <PlansTable />
    <!--- BANNER TRY IT NOW -->
    <BannerTryItNow />
</main>
<Footer />