---
import SEO from '@components/common/SEO.astro';
import '@fontsource-variable/onest';
import '@styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <SEO 
      title='SimplexPay | Landing Page Template' 
      description='Template landing page in astrojs customizable' 
      image='images/card-payment.png' 
      url='https://SimplexPay-LandingPage.vercel.app/'/>
  </head>
  <body class="bg-[#E9F3F4] text-[#1D1E20] font-onest">
    <slot />
  </body>
</html>

<style>
  :root {
    --espaciado-base: 1.5;
    --animacion-duracion: 0.2s;
    --borde-foco: 0.125rem solid #005fcc;
  }
  /* Reset general */
  :where(*, *::before, *::after) {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  :where(html) {
    height: 100%;
    font-size: 100%;
    line-height: var(--espaciado-base);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  :where(body) {
    min-height: 100vh;
    font-size: 1rem;
    line-height: var(--espaciado-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
  }
  :where(img, picture, video, iframe, figure) {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  :where(a) {
    text-decoration: none;
    color: inherit;
    transition: color var(--animacion-duracion) ease-in-out;
  }

  :where(a:hover, a:focus) {
    text-decoration: underline;
    outline: none;
  }

  :where(ul, ol) {
    list-style-position: inside;
    margin: 0;
    padding-left: 1.5rem;
  }

  :where(li) {
    list-style-type: none;
  }
  :where(svg) {
    width: 100%;
    height: auto;
    display: block;
    fill: currentColor;
  }
</style>
