<section>
    <div class="container mx-auto rounded-2xl bg-white/60 px-6 py-12 shadow-lg md:px-12 lg:py-20">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="space-y-2 lg:col-span-2">
          <span class="text-esmeralda text-sm font-semibold uppercase">Future Payment</span>
          <h2 class="text-3xl font-semibold text-gray-900 md:text-4xl lg:text-6xl mt-4">Experience that grows with your scale.</h2>
        </div>
  
        <div>
          <p class="text-gray-600">Design a financial operating system that works for your business and streamlines cash flow management.</p>
        </div>
  
        <div class="md:col-span-2 lg:col-span-3">
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <article class="w-full space-y-2 rounded-lg p-0 md:w-[18rem]">
              <h3 class="text-xl font-semibold text-gray-800 md:text-2xl">Free Transfers</h3>
              <p class="text-gray-600">Create a financial experience and automate repeat purchases by scheduling recurring payments.</p>
            </article>
  
            <article class="w-full space-y-2 rounded-lg p-0 md:w-[18rem]">
              <h3 class="text-xl font-semibold text-gray-800 md:text-2xl">Multiple Accounts</h3>
              <p class="text-gray-600">Run your operations with funds from your account and generate yields on idle balances.</p>
            </article>
  
            <article class="w-full space-y-2 rounded-lg p-0 md:w-[18rem]">
              <h3 class="text-xl font-semibold text-gray-800 md:text-2xl">Unmatched Security</h3>
              <p class="text-gray-600">Securely manage finances with organization-wide MFA, card-locking, and account-level controls.</p>
            </article>
          </div>
        </div>
      </div>
    </div>
</section>
  