---
import ArrowUp from "@assets/svg/ArrowUp.svg";
---

<section>
    <div class="container mx-auto px-6 py-12 md:px-12 lg:py-20">
        <div class="grid grid-cols-2">
          <div class="content flex flex-col gap-8">
            <h1 class="text-6xl font-bold">Get paid early save automatically all your pay.</h1>
            <p class="text-xl text-pretty text-slate-600">Supports small businesses simple invoicing, powerful integrations, and cash flow management tools.</p>
            <form class="bussiness-email flex">
              <input class="outline-esmeralda rounded-tl-xl rounded-bl-xl bg-slate-400/10 p-3 outline" type="email" name="email" id="email" placeholder="Your bussiness email" />
              <button class="bg-esmeralda outline-esmeralda flex cursor-pointer items-center gap-2 rounded-tr-xl rounded-br-xl p-3 text-white outline">Get Started <ArrowUp class="inline-block size-6" /></button>
            </form>
            <div class="sponsors"></div>
          </div>
          <div class="image flex items-center justify-center">
            <img src="/images/card-payment.png" alt="card-payment" class="size-[60vh]" />
          </div>
        </div>
    </div>           
</section>
