<section>
    <div class="container mx-auto p-8">
      <h2 class="text-esmeralda mb-8 text-center font-bold uppercase">Our Mission</h2>
      <div>
        <h3 class="mb-4 text-center text-2xl font-bold text-pretty sm:text-3xl md:text-5xl">We've helped innovative companies</h3>
        <p class="mb-8 text-center text-base text-pretty sm:text-lg">Hundreds of all sizes and across all industries have made big improvements with us.</p>
  
        <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
          <article class="statistic text-center">
            <h4 class="text-4xl font-bold sm:text-5xl md:text-6xl">24%</h4>
            <p class="text-sm sm:text-base">Revenue business</p>
          </article>
          <article class="statistic text-center">
            <h4 class="text-4xl font-bold sm:text-5xl md:text-6xl">180K</h4>
            <p class="text-sm sm:text-base">In annual revenue</p>
          </article>
          <article class="statistic text-center">
            <h4 class="text-4xl font-bold sm:text-5xl md:text-6xl">10+</h4>
            <p class="text-sm sm:text-base">Months of runway</p>
          </article>
        </div>
      </div>
    </div>
</section>
  