<section>
  <div class="container mx-auto p-8">
      <h2 class="text-center mb-8 uppercase font-bold text-esmeralda">
        Our Mission
      </h2>
      <div>
        <h3 class="text-center font-bold text-2xl sm:text-3xl md:text-5xl mb-4">
          We've helped innovative companies
        </h3>
        <p class="text-center text-base sm:text-lg mb-8">
          Hundreds of all sizes and across all industries have made big
          improvements with us.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <article class="statistic text-center">
            <h4 class="text-4xl sm:text-5xl md:text-6xl font-bold">24%</h4>
            <p class="text-sm sm:text-base">Revenue business</p>
          </article>
          <article class="statistic text-center">
            <h4 class="text-4xl sm:text-5xl md:text-6xl font-bold">180K</h4>
            <p class="text-sm sm:text-base">In annual revenue</p>
          </article>
          <article class="statistic text-center">
            <h4 class="text-4xl sm:text-5xl md:text-6xl font-bold">10+</h4>
            <p class="text-sm sm:text-base">Months of runway</p>
          </article>
        </div>
      </div>
  </div>
</section>
