---
import ArrowRightLeft from '@assets/svg/Arrow-right-left.svg';
import LandMark from '@assets/svg/Landmark.svg';
import Spaces from '@assets/svg/Spaces.svg';
import Chart from '@assets/svg/chart.svg';
---

<section aria-labelledby="why-SimplexPay">
  <div class="container mx-auto p-8 md:p-16">
    <small class="text-esmeralda mb-8 inline-block w-full text-center text-balance font-bold">WHY US</small>
    <header class="mx-auto mb-12 max-w-2xl text-center">
      <h2 id="why-finpay" class="text-3xl text-balance sm:text-4xl md:text-5xl font-extrabold text-gray-900">Why they prefer <span class="text-esmeralda">SimplexPay</span></h2>
    </header>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <div class="flex flex-col justify-center rounded-2xl bg-white p-6 sm:p-8 shadow-lg">
        <span class="text-6xl sm:text-7xl font-bold text-esmeralda">3k+</span>
        <p class="mt-2 text-xl text-pretty sm:text-3xl font-semibold text-gray-700">Businesses already running on SimplexPay</p>
      </div>

      <div class="flex flex-col items-center gap-8 rounded-2xl bg-white p-6 sm:p-8 shadow-lg">
        <div class="flex-1">
          <h3 class="text-lg text-balance sm:text-2xl font-semibold text-gray-900">Instant Withdraw your funds at any time</h3>
        </div>
        <div class="flex gap-6">
          <Spaces class="size-10 sm:size-16 text-esmeralda" />
          <ArrowRightLeft class="size-10 sm:size-16 text-slate-500" />
          <span class="flex size-10 sm:size-16 items-center justify-center rounded-full bg-black">
            <LandMark class="size-6 sm:size-10 text-white" />
          </span>
        </div>
      </div>

      <div class="rounded-2xl bg-white p-6 sm:p-8 shadow-lg md:col-span-2">
        <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
          <div class="mb-6 lg:mb-0">
            <h3 class="text-xl text-balance sm:text-2xl font-semibold text-gray-900">No asset volatility</h3>
            <p class="mt-2 text-gray-600">Generate returns on your cash reserves without making any investments.</p>
          </div>

          <figure class="flex w-full flex-col items-center lg:w-1/2">
            <Chart class="h-auto w-full" aria-hidden="true" />
            <figcaption class="mt-2 text-sm text-gray-500">Resumen: $1,876,580 en 6 meses</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
